<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ooredoo Login</title>
  <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <div class="logo">
      <img src="{{ asset('images/ooredoo_logo-modified.png') }}" alt="Logo Ooredoo" class="ooredoo-logo" />
    </div>
    <form class="login-form" method="POST" action="{{ path('changer_mot_de_passe') }}" novalidate>
      <h2 style="font-size: 0.9rem; text-align: center; margin-bottom: 0.2rem;">Veuillez saisir votre nouveau mot de passe</h2>
      <h2 style="font-size: 0.9rem; text-align: center; margin-top: 0;"></h2>
      <div class="input-group">
        <input type="password" id="password" name="mot_de_passe" required autocomplete="off">
        <label for="mot_de_passe">Nouveau mot de passe</label>
        <button type="button" class="toggle-password" tabindex="-1" aria-label="Afficher ou masquer le mot de passe">
          <svg viewBox="0 0 24 24" width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 12C2.73 7.61 7.11 4.5 12 4.5C16.89 4.5 21.27 7.61 23 12C21.27 16.39 16.89 19.5 12 19.5C7.11 19.5 2.73 16.39 1 12Z" stroke="#ff0033" stroke-width="2"/>
            <circle cx="12" cy="12" r="3.5" stroke="#ff0033" stroke-width="2"/>
          </svg>
        </button>
      </div>
      {% if erreur %}
          <div class="error-message">{{ erreur|replace({'(': '(<br>', ',': ',<br>'})|raw }}</div>
      {% endif %}
      <button type="submit" class="login-btn">Continuer</button>
      <button type="button" class="signup-btn"><a href="{{path ('login')}}" style="text-decoration:none; color:inherit;">Retourner </a></button>
    </form>
    
    <div class="bubbles">
      <span></span><span></span><span></span><span></span><span></span>
    </div>
  </div>
  <script src="{{ asset('javascript/script.js') }}"></script>
</body>
</html> 